/* Base */
/* .... */
/* .... */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto;
	font-size: 62.5%; /* Base 10px */
}


/* ........................................ */
/* MOBILE VERSION - Mobile first */
/* ............................. */
/* ............................. */


/* State (state elements) */
/* ...................... */
/* ...................... */


/* Factored */
/* ........ */
/* ........ */


/* ........................................ */
/* TABLET VERSION */
/* .................... */
/* .................... */

@media screen and (min-width: 768px) and (max-width: 1279px) {

}

/* State (state elements) */
/* ...................... */
/* ...................... */


/* Factored */
/* ........ */
/* ........ */


/* ........................................ */
/* DESKTOP VERSION */
/* ............... */
/* ............... */

@media screen and (min-width: 1280px) {
}

/* State (state elements) */
/* ...................... */
/* ...................... */


/* Factored */
/* ........ */
/* ........ */